@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

* {
			margin: 0;
			padding: 0;
		}

		.container {
			position: static;
			margin-top: 74px;
		}

		.heading {
			padding-left: 100px;
			font-family: "Poppins", sans-serif
		}

		.paragraph {
			margin-right: 400px;

		}

		.image {
			margin-top: -225px;
			margin-left: 600px;
			object-fit:  fill;

		}

		.block {
			width: auto;
			height: 200px;
			margin-bottom: 0px;
			background-color: rgba(255,34,51,0.27);
			color: #927d7d;
			
		}
